<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container" style="background: #dddddd">
  <div class="row" >
    <app-search-form (searchSubmit)="onSearch($event)"></app-search-form>
  </div>
  <div>
    <app-name-list  [names]="names" major="content"></app-name-list>
    <app-name-list  [names]="names" major="design"></app-name-list>
    <app-name-list [names]="names" major="marketing"></app-name-list>
    <app-name-list  [names]="names" major="programming"></app-name-list>
  </div>
  
</div> -->
<!-- <app-display-result></app-display-result> -->
<div class="container" style="background: #dddddd">
  <a class="btn btn-primary" routerLink="/stat">stat</a>
  <router-outlet></router-outlet>
</div>

