<!-- <div style="margin-top:20px">
  <a data-toggle="collapse" href="{{'#collapse' + major}}" aria-expanded="false" aria-controls="collapseExample">
      <h1>{{ major.toUpperCase() }}</h1>
  </a>
  
  <div class="collapse.show row" id="{{'collapse' + major}}" >
    <ng-container *ngFor="let name of names">
      <div class="col-sm-12 col-md-4" *ngIf="name.major===this.major">
        <app-name-info [name]="name"></app-name-info>
      </div> 
    </ng-container>
  </div>
</div> -->

<div style="margin-top:20px">
  <h1>{{ major.toUpperCase() }}</h1>
  <div class="row" >
    <ng-container *ngFor="let name of names">
      <div class="col-sm-12 col-md-4" *ngIf="name.major===this.major">
        <app-name-info [name]="name"></app-name-info>
      </div> 
    </ng-container>
  </div>
</div>
  
